#main {
    margin-top: 20px;
    padding: 5px;
    border-radius: 20px;
    background: hsl(204, 90%, 85%);
}

#title {
    text-align: center;
}

body {
    font-family: "Asul";
    text-align: center;
}

h1 {
    font-family: 'Asul';
    font-size: 50px;
    text-align: center;
}

h2 {
    font-family: 'Asul';
    font-size: 20px;
    text-align: center;
}

.cite-align {
    margin-top: 10px;
    margin-bottom: 10px;
}

#img-div {
    background: lightgray;
    padding: 10px;
    margin: auto;
}

#image {
    display: block;
}

.smaller-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#img-caption {
    margin: auto;
}

#text-div {
    margin-bottom: 20px;
}

#tribute-info {
    text-align: justify;
}

#tribute-link {
    color: rgb(0, 0, 0);
}

#div-button {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    margin-left: 830px;
    margin-right: 830px;
    background-color: rgb(56, 231, 56);
    border-color: rgb(253, 253, 253);
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
}

ul {
    text-align: center;
    list-style: none;
    font-size: 15px;
}

@media only screen and (max-width: 1920px) {
    #image {
        width: 100%;
        max-width: 1850px;
        height: auto;
        /* style for large screen */
    }
}

@media only screen and (max-width: 1200px) {
    #image {
        width: 100%;
        max-width: 1200px;
        height: auto;
        /* style for medium size screen */
    }
}
@media only screen and (max-width: 1700px) {
    #div-button {
        display: block;
        margin-left: 470px;
        margin-right: 470px;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: rgb(56, 231, 56);
    border-color: rgb(253, 253, 253);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    }
}
@media only screen and (max-width: 1400px) {
    #div-button {
        display: block;
        margin-left: 470px;
        margin-right: 470px;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: rgb(56, 231, 56);
    border-color: rgb(253, 253, 253);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    }
}
@media only screen and (max-width: 1000px) {
    #div-button {
        display: block;
        margin-left: 240px;
        margin-right: 240px;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: rgb(56, 231, 56);
    border-color: rgb(253, 253, 253);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    }
}
@media only screen and (max-width: 600px) {
    #div-button {
        display: block;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: rgb(56, 231, 56);
    border-color: rgb(253, 253, 253);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    }
}

@media only screen and (max-width: 340px) {
    #image {
        width: 100%;
        max-width: 320px;
        height: auto;
        /* style for small size screen */
    }
    #div-button {
        display: block;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: rgb(56, 231, 56);
    border-color: rgb(253, 253, 253);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    }
}

footer {
    padding: 20px;
    background-color: hsl(190, 19%, 81%);
    border-radius: 10px;
    text-align: center;
    margin: auto;
}